* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  background-color: rgb(254, 239, 216);
}

.Main_Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

.Head {
  background-color: #ffffff;
}

.Header_First {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Logo img {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.Header_nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #0b0d17;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  padding: 12px 24px;
}

.Header_nav a:hover {
  overflow: visible;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #0b0d17;
  color: white;
  border-radius: 8px;
  font-weight: 600;
}

.Header_preview {
  position: relative;
  width: 100vw;
  height: 735px;
  background-image: url("../Image/BG Image.PNG");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.Header_preview::hover {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: cubic-bezier(0.13, 0, 0.39, 0);
  transition: cubic-bezier(0.13, 0, 0.39, 0);
}

.H1_preview {
  position: relative;
  z-index: 1;
  margin-left: 110px;
  margin-top: 195px;
  max-width: 640px;
  color: white;
}

.H1_preview p {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.Preview_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-top: 48px;
  font-family: "Roboto", sans-serif;
}

.Preview_button {
  width: 160px;
  height: 51px;
  color: white;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.Preview_button:hover:hover {
  background-color: #ffffff;
  color: #0b0d17;
  border-radius: 4px;
}

.Preview_button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 51px;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}
.Preview_button2:hover:hover {
  background-color: #ffffff;
  color: #0b0d17;
  border-radius: 4px;
}

.Preview_button2 img {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  padding: 12px;
}

.Header_Line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 120px;
  color: white;
  margin-top: 150px;
  font-family: "Roboto", sans-serif;
}

.Header_Line hr {
  -webkit-box-flex: 0.9;
      -ms-flex-positive: 0.9;
          flex-grow: 0.9;
  height: 2px;
  background-color: white;
  border: none;
}

.Main_conteiner {
  width: 100%;
  margin: 100px auto;
  padding: 0 80px;
}

.Section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

.Line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 2px;
  background-color: black;
}

h2 {
  width: 607px;
  height: 116px;
  margin: 30px 170px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 120%;
}

.Text_line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
  height: 156px;
  margin: 35px 175px;
  font-size: 16px;
}

.Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 146px;
  height: 51px;
  margin: 35px 175px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}
.Button:hover {
  cursor: pointer;
  background-color: #70C174;
  color: white;
  border-radius: 5px;
  -webkit-transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
  transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.Supporter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
}
.Supporter .Line2 {
  width: 85%;
  height: 1px;
  background-color: grey;
  margin-left: 50px;
}

.Supporter_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}