* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  background-color: rgb(254, 239, 216);
}

.Main_Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

.Head {
  background-color: #ffffff;
}

.Header_First {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Logo img {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.Header_nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #0b0d17;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  padding: 12px 24px;
}

.Header_nav a:hover {
  overflow: visible;
  background-color: #0b0d17;
  color: white;
  border-radius: 8px;
  font-weight: 500;
}

.Header_preview {
  position: relative;
  width: 100vw;
  height: 735px;
  background-image: url("../Image/BG Image.PNG");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.Header_preview::hover {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: cubic-bezier(0.13, 0, 0.39, 0);
  transition: cubic-bezier(0.13, 0, 0.39, 0);
}

.H1_preview {
  position: relative;
  z-index: 1;
  margin-left: 110px;
  margin-top: 195px;
  max-width: 640px;
  color: white;
}

.H1_preview p {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.Preview_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-top: 48px;
  font-family: "Roboto", sans-serif;
}

.Preview_button {
  width: 160px;
  height: 51px;
  color: white;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.Preview_button:hover:hover {
  background-color: #ffffff;
  color: #0b0d17;
  border-radius: 4px;
}

.Preview_button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 51px;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}
.Preview_button2:hover:hover {
  background-color: #ffffff;
  color: #0b0d17;
  border-radius: 4px;
}

.Preview_button2 img {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  padding: 12px;
}

.Header_Line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 120px;
  color: white;
  margin-top: 150px;
  font-family: "Roboto", sans-serif;
}

.Header_Line hr {
  -webkit-box-flex: 0.9;
      -ms-flex-positive: 0.9;
          flex-grow: 0.9;
  height: 2px;
  background-color: white;
  border: none;
}

.Main_conteiner {
  width: 100%;
  margin: 100px auto;
}

.Section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 96px 110px;
}
.Section1_UP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Section1_Down {
  margin-top: 64px;
}

.UP_Left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.List_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 32px 0 0 97px;
}

.List_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

.Line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 2px;
  background-color: black;
}

.H2_text {
  max-width: 607px;
  height: 116px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 120%;
}

.Text_line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  height: 156px;
  font-size: 16px;
}

.Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 146px;
  height: 51px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 40px;
}
.Button:hover {
  cursor: pointer;
  background-color: #70C174;
  color: white;
  border-radius: 5px;
  -webkit-transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
  transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.Supporter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 2px;
}
.Supporter .Line2 {
  width: 80%;
  height: 1px;
  background-color: grey;
  margin-left: 50px;
}

.Supporter_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

iframe {
  width: 480px;
  height: 508px;
  border-radius: 12px;
}

.Section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EFF7F2;
  padding: 80px;
  width: 100%;
}

.Section_title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47%;
  gap: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

.Functions_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 60px;
  margin-left: 150px;
}

.Functions_list::before {
  position: absolute;
  visibility: visible;
  opacity: 1;
  content: "";
  left: 24px;
  top: 0;
  height: 100%;
  width: 2px;
  background: #201f1f;
}

.Function_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.Function_icon {
  width: 48px;
  height: 48px;
  background: #7ad3a6;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.Function_icon img {
  width: 24px;
  height: 24px;
}

.Function_content h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.Function_content p {
  margin-top: 8px;
  color: #525560;
  line-height: 1.6;
  max-width: 420px;
}

.Section2_Img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}