@use "../base/fonts" as *;
@use "../base/roots" as *;
@use "../base/mixins" as *;

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  @include flex-center;
  justify-content: space-between;
  z-index: 1000;
  padding: 20px 40px;
}

.Header_nav {
  @include flex-center;
  gap: 8px;
}

.nav_item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #0b0d17;
  padding: 12px 24px;
}

.nav_item:hover {
  transform: scale(1.15);
  transition: 0.2s ease-in;
  background-color: #0b0d17;
  color: $font_color_white;
  border-radius: 8px;
}

.Header_preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 80px 60px 80px;
  height: 735px;
  background-image: url("../Image/BG Image.PNG");
  background-size: cover;
}

.H1_preview {
  max-width: 640px;
  color: white;
}

.prewie_text {
  font-size: 64px;
  font-family: $main_font;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.Preview_buttons {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 48px;
  font-family: $main_font;
}

.Preview_button {
  width: 160px;
  height: 51px;
  color: $font_color_white;
  font-size: 16px;
  gap: 5px;
  @include flex-center;
  cursor: pointer;
  &:hover {
    @include button-hover;
  }
}

.Button_Icon {
  width: 48px;
  height: 48px;
  background-color: $font_color_white;
  border-radius: 50%;
  padding: 12px;
}

.Header_Line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $font_color_white;
  font-family: $main_font;
}

#prewie_line {
  flex-grow: 0.9;
  height: 2px;
  background-color: white;
  border: none;
}

#content {
  margin-top: 82.5px;
}
