@use "../base/fonts" as *;
@use "../base/roots" as *;
@use "../base/mixins" as *;
@use "../base/base" as *;

.Main_conteiner {
  width: 100%;
  margin: 100px auto;
  font-family: $main_font;
}

.Section1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 96px 110px;
  &_UP {
    display: flex;
    justify-content: space-between;
  }
  &_Down {
    margin-top: 64px;
  }
}

.UP_Left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.List_content {
  display: flex;
  flex-direction: column;
  margin: 32px 0 0 97px;
}

.List_title {
  display: flex;
  align-items: center;
}

.Section_title {
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: $main_font;
  font-size: 16px;
  letter-spacing: 2px;
  // padding: 0 80px;
}

.Line {
  display: flex;
  align-items: center;
  width: 80px;
  height: 2px;
  background-color: black;
  // padding: 0 80px;
}

.H2_text {
  max-width: 607px;
  height: 116px;
  // margin-bottom: 40px;
  flex-wrap: wrap;
  font-family: $main_font;
  font-size: 48px;
  line-height: 120%;
}

.Text_line2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
  height: 156px;
  font-size: 16px;
}

.Button {
  @include flex-center;
  width: 146px;
  height: 51px;
  font-size: $HeadFont20px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 40px;
  &:hover {
    cursor: pointer;
    background-color: #70c174;
    color: white;
    border-radius: 5px;
    transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
    transform: scale(1.2);
  }
}

.Supporter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 2px;
  .Line2 {
    width: 80%;
    height: 1px;
    background-color: grey;
    margin-left: 50px;
  }
}

.Supporter_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

iframe {
  width: 480px;
  height: 508px;
  border-radius: 12px;
}

.Section2 {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  background-color: #eff7f2;
  padding: 80px;
  //   width: 100%;
  &_Left {
    // flex: 1;
    display: flex;
    flex-direction: column;
    width: 55%;
  }
  &_Right {
    // flex: 1;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 770px;
    padding: 20px 0;
    img {
      max-width: 100%;
    }
  }
}

.List2_content {
  display: flex;
  flex-direction: column;
  margin: 32px 0 0 97px;
}

.Section_title2 {
  display: flex;
  align-items: center;
  width: 47%;
  gap: 60px;
  font-family: $main_font;
  font-size: 16px;
  letter-spacing: 2px;
}

.Functions_list {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  margin-left: 90px;
  position: relative;
}

.Functions_list::before {
  content: "";
  position: absolute;
  left: 24px;
  top: 0;
  height: 90%;
  width: 2px;
  background: #898989;
}

.Function_item {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.Function_icon {
  width: 48px;
  height: 48px;
  background: #7ad3a6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.Function_icon img {
  width: 24px;
  height: 24px;
}

.Function_content h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.Function_content p {
  margin-top: 8px;
  color: #525560;
  line-height: 1.6;
  max-width: 420px;
}

.Section2_Img {
  display: flex;
}

.Section3 {
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.Section3_Down {
  display: flex;
  padding: 80px 0;
  gap: 24px;
  margin-top: 40px;
  .Grid_block {
    display: grid;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    grid-template-columns: 321px;
    grid-template-rows: 330px;
    border-radius: 12px;
    padding: 80px 48px 48px 58px;
    .Grid_text {
      width: 315px;
      height: 293px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      color: #eff7f2;
      .H3_text {
        font-size: 28px;
        font-weight: 700;
        font-family: $main_font;
        line-height: 150%;
      }
    }
  }
}

.bg1 {
  background-image: url(../../Image/GridImg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg2 {
  background-image: url(../../Image/Gridmg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg3 {
  background-image: url(../../Image/GridImg3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Grid_block::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.Grid_text {
  position: relative;
  z-index: 2;
  color: #fff;
}

.Section4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 567px;
  background-color: black;
  &_Left {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 80px;
  }
}

.Section4_text {
  width: 611px;
  height: 285px;
  color: #eff7f2;
}

.Section4_H2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.Section4_Grid {
  display: grid;
  grid-template-columns: repeat(3, 204px);
  gap: 16px 32px;
}

.Grid4_items {
  display: grid;
  grid-template-columns: 16px auto;
  align-items: center;
  gap: 12px;
}

.Grid4_text {
  font-size: 14px;
  color: #fff;
}

.colorOrange {
  width: 16px;
  height: 16px;
  background: #f9cf64;
  border-radius: 3px;
}

.colorPurple {
  width: 16px;
  height: 16px;
  background: #ac94f1;
  border-radius: 3px;
}

.colorYellow {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff0ca;
}
.colorGreen {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #bef3c0;
}
.colorPink {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f38fbf;
}

.Section4_Right {
  padding: 64px;
}
