@use "../base/fonts" as *;
@use "../base/roots" as *;
@use "../base/mixins" as *;

.Main_conteiner {
    width: 100%;
    margin: 100px auto;
    padding: 0 80px;
}

.Section1 {
    display: flex;
    align-items: center;

}

.Section_title {
    display: flex;
    align-items: center;
    gap: 60px;
    font-family: $main_font;
    font-size: 16px;
    letter-spacing: 2px;
}

.Line {
    display: flex;
    align-items: center;
    width: 80px;
    height: 2px;
    background-color: black;
}


h2 {
    width: 607px;
    height: 116px;
    margin: 30px 170px;
    flex-wrap: wrap;
    font-family: $main_font;
    font-size: 48px;
    line-height: 120%;
}

.Text_line1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 156px;
    margin: 35px 175px;
    font-size: 16px;
}

.Button {
    @include flex-center;
    width: 146px;
    height: 51px;
    margin: 35px 175px;
    font-size: $HeadFont20px;
    border-radius: 5px;
    border: 1px solid grey;
    &:hover {
        cursor: pointer;
        background-color: #70C174;
        color: white;
        border-radius: 5px;
        transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
        transform: scale(1.2);
    }
}

.Supporter {
    display: flex;
    align-items: center;
    margin-top: 160px;
    .Line2 {
        width: 85%;
        height: 1px;
        background-color: grey;
        margin-left: 50px;
    }
}

.Supporter_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}