@use "../base/fonts" as *;
@use "../base/roots" as *;
@use "../base/mixins" as *;

.Main_conteiner {
    width: 100%;
    margin: 100px auto;
}

.Section1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 96px 110px;
    &_UP {
        display: flex;
        justify-content: space-between;
    }
    &_Down {
        margin-top: 64px;
    }
}

.UP_Left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.List_content {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0 97px;
}

.List_title {
    display: flex;
    align-items: center;

}

.Section_title {
    display: flex;
    align-items: center;
    gap: 60px;
    font-family: $main_font;
    font-size: 16px;
    letter-spacing: 2px;
    // padding: 0 80px;
}

.Line {
    display: flex;
    align-items: center;
    width: 80px;
    height: 2px;
    background-color: black;
    // padding: 0 80px;
}


.H2_text {
    max-width: 607px;
    height: 116px;
    // margin-bottom: 40px;
    flex-wrap: wrap;
    font-family: $main_font;
    font-size: 48px;
    line-height: 120%;
}

.Text_line2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    height: 156px;
    font-size: 16px;
}

.Button {
    @include flex-center;
    width: 146px;
    height: 51px;
    font-size: $HeadFont20px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 40px;
    &:hover {
        cursor: pointer;
        background-color: #70C174;
        color: white;
        border-radius: 5px;
        transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
        transform: scale(1.2);
    }
}

.Supporter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    .Line2 {
        width: 80%;
        height: 1px;
        background-color: grey;
        margin-left: 50px;
    }
}

.Supporter_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

iframe {
    width: 480px;
    height: 508px;
    border-radius: 12px;
}

.Section2 {
    display: flex;
    background-color: #EFF7F2;
    padding:80px;
    width: 100%;
}

.Section_title2 {
    display: flex;
    align-items: center;
    width: 47%;
    gap: 60px;
    font-family: $main_font;
    font-size: 16px;
    letter-spacing: 2px;
}

.Functions_list {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  margin-left: 150px;
}


.Functions_list::before {
  position: absolute;
  visibility: visible;
  opacity: 1;
  content: "";
  left: 24px;
  top: 0;
  height: 100%;
  width: 2px;
  background: #201f1f;
}

.Function_item {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}


.Function_icon {
  width: 48px;
  height: 48px;
  background: #7ad3a6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.Function_icon img {
  width: 24px;
  height: 24px;
}


.Function_content h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.Function_content p {
  margin-top: 8px;
  color: #525560;
  line-height: 1.6;
  max-width: 420px;
}

.Section2_Img {
    display: flex;
}
