@use "../base/fonts" as *;
@use "../base/roots" as *;
@use "../base/mixins" as *;
@use "../base/base" as *;

.Main_conteiner {
  width: 100%;
  margin: 100px auto;
  font-family: $main_font;
}

.Section1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 96px 110px;
  &_UP {
    display: flex;
    justify-content: space-between;
  }
  &_Down {
    margin-top: 64px;
  }
}

.UP_Left {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.UP_Right {
  width: 45%;
  @include flex-center;
}

.List_content {
  display: flex;
  flex-direction: column;
  margin: 32px 0 0 97px;
}

.List_title {
  display: flex;
  align-items: center;
}

.Section_title {
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: $main_font;
  font-size: 16px;
  letter-spacing: 2px;
}

.Line {
  display: flex;
  align-items: center;
  width: 80px;
  height: 2px;
  background-color: black;
}

.H2_text {
  // max-width: 607px;
  flex-wrap: wrap;
  font-family: $main_font;
  font-size: 48px;
  line-height: 120%;
}

.Text_line2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
  height: 156px;
  font-size: 16px;
}

.Button {
  @include flex-center;
  width: 146px;
  height: 51px;
  font-size: $HeadFont20px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 40px;
  &:hover {
    cursor: pointer;
    background-color: #70c174;
    color: white;
    border-radius: 5px;
    transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
    transform: scale(1.2);
  }
}

.Supporter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 2px;
  .Line2 {
    width: 80%;
    height: 1px;
    background-color: grey;
    margin-left: 50px;
  }
}

.SupImg {
  width: 150px;
  height: 37px;
}

.Supporter_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

iframe {
  width: 80%;
  height: 100%;
  border-radius: 12px;
}

.Section2 {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  background-color: #eff7f2;
  padding: 80px;
  //   width: 100%;
  &_Left {
    // flex: 1;
    display: flex;
    flex-direction: column;
    width: 55%;
  }
  &_Right {
    // flex: 1;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 770px;
    padding: 20px 0;
    img {
      max-width: 100%;
    }
  }
}

.List2_content {
  display: flex;
  flex-direction: column;
  margin: 32px 0 0 97px;
}

.Section_title2 {
  display: flex;
  align-items: center;
  width: 47%;
  gap: 60px;
  font-family: $main_font;
  font-size: 16px;
  letter-spacing: 2px;
}

.Functions_list {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  margin-left: 90px;
  position: relative;
}

.Functions_list::before {
  content: "";
  position: absolute;
  left: 24px;
  top: 0;
  height: 90%;
  width: 2px;
  background: #898989;
}

.Function_item {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.Function_icon {
  width: 48px;
  height: 48px;
  background: #7ad3a6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.Function_icon img {
  width: 24px;
  height: 24px;
}

.Function_content h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.Function_content p {
  margin-top: 8px;
  color: #525560;
  line-height: 1.6;
  max-width: 420px;
}

.Section2_Img {
  display: flex;
}

.Section3 {
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.Section3_Down {
  @include flex-center;
  padding: 80px 0;
  gap: 24px;
  margin-top: 40px;
  .Grid_block {
    display: grid;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    grid-template-columns: 321px;
    grid-template-rows: 330px;
    border-radius: 12px;
    padding: 80px 48px 48px 58px;
    .Grid_text {
      width: 315px;
      height: 293px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      color: #eff7f2;
      .H3_text {
        font-size: 28px;
        font-weight: 700;
        font-family: $main_font;
        line-height: 150%;
      }
    }
  }
}

.bg1 {
  background-image: url(../Image/GridImg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg2 {
  background-image: url(../Image/GridImg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg3 {
  background-image: url(../Image/GridImg3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Grid_block::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.Grid_text {
  position: relative;
  z-index: 2;
  color: #fff;
}

.Section4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 80px;
  background-color: black;
}

.Section4_Left {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 80px;
}

.Section4_text {
  width: 611px;
  height: 285px;
  color: #eff7f2;
}

.Section4_H2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.Section4_Grid {
  display: grid;
  grid-template-columns: repeat(3, 204px);
  gap: 16px 32px;
}

.Grid4_items {
  display: grid;
  grid-template-columns: 16px auto;
  align-items: center;
  gap: 12px;
}

.Grid4_text {
  font-size: 14px;
  color: #fff;
}

.colorOrange {
  width: 16px;
  height: 16px;
  background: #f9cf64;
  border-radius: 3px;
}

.colorPurple {
  width: 16px;
  height: 16px;
  background: #ac94f1;
  border-radius: 3px;
}

.colorYellow {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff0ca;
}
.colorGreen {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #bef3c0;
}
.colorPink {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f38fbf;
}

.Section4_Right {
  padding: 64px;
}

.Section5 {
  padding: 0 80px 80px;
}

.Section5_items::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.346);
  z-index: 1;
  border-radius: 12px;
}

.Section5_items {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 384px;
  background-image: url(../Image/Vetrovievishki.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 80px;
  border-radius: 12px;
}

.Section5_text {
  position: relative;
  z-index: 2;
  color: #fff;
  // width: 631px;
  // height: 113px;
  font-weight: 700;
  text-align: center;
  font-size: $HeadFont48px;
  font-family: $main_font;
  color: #eff7f2;
}

.Section5_buttons {
  display: flex;
  gap: 30px;
  position: relative;
  z-index: 2;
  margin-top: 20px;
}

.Section5Left_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 51px;
  background-color: #eff7f2;
  border-radius: 10px;
  &:hover {
    background-color: #70c174;
    color: #eff7f2;
    border-radius: 7px;
    font-family: $main_font;
    transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
    transform: scale(1.2);
  }
}

.Left_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 200px;
  height: 51px;
  color: black;
  font-family: $main_font;
}

.Section5Right_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 51px;
  background-color: #eff7f2;
  border-radius: 10px;
  &:hover {
    background-color: #70c174;
    color: #eff7f2;
    border-radius: 7px;
    font-family: $main_font;
    transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
    transform: scale(1.2);
  }
}

.Right_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 116px;
  height: 51px;
  color: black;
  font-family: $main_font;
}

.Section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // height: 532px;
  padding: 0 80px 80px;
}

.Section6_items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.Section6_prewie {
  display: flex;
  font-weight: 500;
  font-size: $HeadFont48px;
  font-family: $main_font;
}

.Prewie_Line {
  display: flex;
  flex-grow: 1;
  // width: 881px;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.546);
}

.Section6_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  // overflow-x: scroll;
  flex-wrap: wrap;
}

.List1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 302px;
  // height: 328px;
}

.List_prewie {
  font-weight: 500;
  font-family: $main_font;
  font-size: 20px;
}

.List_text {
  font-weight: 400;
  font-family: $main_font;
  font-size: 14px;
  color: rgb(128, 128, 128);
}

.Section7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 300px;
  padding: 0 80px;
}

.Section7_blocks {
  display: flex;
  align-items: center;
  width: 628px;
  height: 191px;
  background-color: #bef3c0;
  border-radius: 12px;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: $main_font;
}

.Section7_Line {
  display: flex;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.546);
}

.Block_Left {
  margin-right: 25px;
  .Date {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Num {
      font-size: $HeadFont48px;
      font-weight: 600;
      line-height: 1;
    }
    .Date_text {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.Middle_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .Middle_Up {
    display: flex;
    align-items: center;
    gap: 15px;
    .Line_text {
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 14px;
    }

    .Middle_line {
      width: 44px;
      height: 2px;
      background-color: #1d2130;
    }
  }

  .Main_Title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: #1d2130;
    line-height: 1.3;
  }
}
.Events_Row {
  display: flex;
  padding: 50px 0;
  gap: 30px;
}

.Block_Right {
  .Arrow_Btn {
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.Main_footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: #f0f0f0;
  width: 100%;
  padding: 80px;
  gap: 80px;
  margin-top: 100px;

  .Middle_footer {
    display: grid;
    grid-template-columns: repeat(3, 10.1rem);
    grid-template-rows: repeat(5, 3.4rem);
    .Footer_grigText {
      text-decoration: none;
      color: #f0f0f0;
      font-weight: 200;
      font-size: 18px;
      font-family: $main_font;
      &:hover {
        font-size: 20px;
        font-weight: 500;
        transition: 0.1s cubic-bezier(0.13, 0, 0.39, 0);
        transform: scale(1.1);
      }
    }
  }
}

.Right_footer {
  display: flex;
  flex-direction: column;
  width: 544px;
  gap: 20px;

  .Right_footerText {
    font-family: $main_font;
    font-size: 40px;
    font-weight: 700;
    color: white;
  }
}

.Email_form {
  display: flex;
  align-items: center;
}

.Form {
  display: flex;
  align-items: center;
}

.Email_row {
  width: 365px;
  height: 64px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: none;
  border-radius: 8px 0 0 8px;
  padding: 20px 0 20px 20px;
  color: white;
  font-size: 16px;
  outline: none;

  &::placeholder {
    color: #666;
  }
}

.Submit_Button {
  @include flex-center;
  width: 140px;
  height: 64px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 0 8px 8px 0;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  &:hover {
    transform: scale(1.2);
    background-color: #7ad3a6;
    border-radius: 8px;
  }
  &:active {
    transform: scale(0.98);
  }
}

@media (max-width: 1200px) {
  .Section2 {
    @include flex-center;
    flex-direction: column;
  }

  .Section2_Left {
    width: 100%;
  }

  .Section2_Right {
    width: 80%;
  }

  .Section3_Down {
    flex-direction: column;
  }

  .Section4 {
    flex-direction: column;
    gap: 60px;
  }
  .Main_footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Middle_footer {
    text-align: center;
  }

  .Right_footerText {
    text-align: center;
  }

  .Section1_UP {
    gap: 40px;
    flex-direction: column;
  }

  .UP_Right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 567px;
    width: 100%;
  }
  .UP_Left {
    width: 100%;
  }

  .List1 {
    width: 75%;
  }

  .Events_Row {
    flex-direction: column;
  }

  .Section7 {
    @include flex-center;
  }
}

.Section7_blocks {
  width: 500px;
}


.loader {
  width: 60px;
  aspect-ratio: 5;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}



@media (max-width: 590px) {
  .Section1, .Section2, .Section3, .Section4, .Section5, .Section6, .Section7 {
    padding: 10px 20px; 
  }


  .H2_text {
    font-size: 28px;
    text-align: center;
  }

  .Section_title {
    justify-content: center;
    gap: 20px;
    .Line { width: 40px; }
  }

  .Text_line2 {
    text-align: center;
    height: auto;
    margin-top: 20px;
  }

  .UP_Left {
    align-items: center;
  }

  .List_content {
    margin: 20px 0;
    align-items: center;
  }

  .UP_Right {
    height: 300px;
    iframe { width: 100%; }
  }


  .Section2_Left, .Section2_Right {
    width: 100%;
  }

  .Functions_list {
    margin-left: 0;
    padding-left: 10px;
    &::before { left: 10px; }
  }

  .Section_title2 {
    width: 100%;
    justify-content: center;
  }


  .Section3_Down {
    padding: 10px 0;
    .Grid_block {
      width: 100%;
      grid-template-columns: 1fr;
      padding: 30px 20px 30px;
      .Grid_text {
        width: 100%;
        .H3_text { font-size: 22px; }
      }
    }
  }


  .Section4_Left {
    padding: 0;
    align-items: center;
  }

  .Section4_text {
    @include flex-center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .Section4_H2 {
    font-size: 26px;
  }

  .Section4_h2text {
    display: flex;
    width: 60%;
  }

  .Section4_Grid {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .Section4_Right {
    padding: 20px 0;
    canvas { width: 100%; height: auto; }
  }

  .Section5_items {
    padding: 20px 10px;
    height: auto;
    height: 350px;
  }

  .Section5_text {
    font-size: 24px;
  }

  .Section5_buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
    .Section5Left_button, .Section5Right_button {
      width: 100%;
      width: 250px;
    }
  }

  .Section6_items {
    flex-direction: column;
    text-align: center;
  }

  .Section6_prewie {
    font-size: 28px;
  }

  .List1 {
    width: 100%;
    text-align: center;
  }

  .Section7_blocks {
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: 30px 20px;
    text-align: center;
    gap: 20px;
  }

  .Block_Left .Date .Num { font-size: 32px; }

  .Middle_content .Middle_Up {
    justify-content: center;
  }

  .Main_footer {
    padding: 60px 20px;
    gap: 40px;
  }

  .Middle_footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }

  .Right_footer {
    width: 100%;
    .Right_footerText { font-size: 24px; }
  }

  .Form {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .Email_row {
    width: 100%;
    border-radius: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  .Submit_Button {
    width: 100%;
    border-radius: 8px;
  }
}
